<launch>
  <launch>
    <include ns="lidar" file="$(find robots)/launch/sim.launch" />
  </launch>

  <node pkg="fsm_bump_go" type="lidarBumpgo_node" name="lidarBuumpgp"> 
    <param name="DETECTION_DISTANCE" type="double" value="0.6" />
    <param name="RANGE" type="int" value="60" />
  </node>
   
</launch>
